**/**/*.env/
**/**/*.ruff_cache/
**/**/*.venv/
**/**/*.vscode/
assets/data/processed/*
assets/data/raw/*
assets/data/source/*
assets/data/source-candidate/*
assets/dbs/*
assets/logs/*
assets/models/pth/*ednn_regression__*
assets/notebooks/*
assets/repos/template-report-main/
assets/repos/BA__U-i-mlb-Sm-f-d-s-V-a-S__tex/
assets/repos/criticality_spaces
assets/repos/evidential-learning-pytorch
assets/repos/industrialbenchmark
assets/repos/MA_Uncertainty_in_ML_based_Surrogates
assets/viz/*
!assets/docs/source
**/**/build/
**/**/config_refactor.py
**/**/conv/conversion__data_txt_to_feature_txt.py
**/**/conv/conversion__regression_no_labels.py
**/**/*.egg-info
**/**/logs/
**/**/ml/*ednn_classification__*.py
**/**/ml/run_experiment.py
**/**/ml/utils/training_utils_refactor.py
**/**/*png
**/**/__pycache__/
**/**/tests/test__ednn_classification__generalization.py
**/**/tests/test__ednn_regression__generalization.py
**/**/tests/BA__Programmierung/viz/*.py
**/**/venv/
**/**/viz/visualize_experiment.py
**/**/viz/viz__ednn_classification*
**/**/*Zone.Identifier
!**/**/*.gitkeep
#
**/**/viz/viz__bnn_regression__hmc_nmavani-func-1.py
**/**/viz/viz__bnn_regression__svi_nmavani-func-1.py
**/**/models/model__evidential-learning-pytorch.py
**/**/assets/data/README.md
**/**/models/model__evidential-learning-pytorch.py
#
**/**/prototypes/evidential-deep-learning/*
#!**/**/prototypes/prototype_s9-02-07-25/min_sensitivity_analysis_bnn.py
#!**/**/prototypes/prototype_s9-02-07-25/min_sensitivity_analysis_enn.py
#!**/**/prototypes/prototype_s9-02-07-25/min_sensitivity_analysis_cp.py