**/**/*.env/
**/**/*.venv/
**/**/build/
**/**/data/raw/
**/**/data/processed/
**/**/data/source/
**/**/*.egg-info
**/**/logs/
**/**/models/
**/**/notebooks/
**/**/output/
**/**/*png
**/**/__pycache__/
**/**/tests/
**/**/viz/
**/**/venv/
**/**/*Zone.Identifier